.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
}

.flexContainer {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;

  display: flex;
  flex-direction: column;
}
.linkBtn {
  font-size: 2em;
}
